@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
} 

.header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center; 
    height: 70px;
    background-color: rgba(65, 60, 60, 0.73);
    border-radius: 5px;
    -webkit-box-shadow: 11px 10px 14px -5px rgba(122,118,122,1);
    -moz-box-shadow: 11px 10px 14px -5px rgba(122,118,122,1);
    box-shadow: 11px 10px 14px -5px rgba(122,118,122,1);
}

.header p {
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35pt;
    font-weight: 700;
}

.life {
    color: rgb(217, 13, 60);
}

.header ul li {
    display: inline;
    padding: 0 15px;
}

.header ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.header ul li:hover {
    border-right: 1px solid #ebe0e0;
}

.header ul li a:hover {
    text-decoration: none;
    color: #333030;
    font-size: 1.1em;
}

main {
    display: flex;
    min-height: 85vh;
    background-color: #dbdbdb;
    border-radius: 5px;
}


main h1 {
    padding: 15px;
    text-transform: uppercase;
    color: rgb(217, 13, 60);
}

main p {
    padding: 15px;
    font-size: 1.3em;
    max-width: 80ch;
}

main hr {
    height: 3px;
    width: 400px;
    background-color: black;
    border: none;
}

.wrapper_minart {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    
}

.article_min {
    display: flex;
    align-items: center;
    flex-direction: column;
/*    border: 1px solid black;*/
    border-radius: 5px;
    height: 500px;
    width: 400px;
    margin: 30px;
    padding: 15px;
    background-color: #c7c7c7;
    -webkit-box-shadow: 11px 10px 14px -5px rgba(122,118,122,1);
    -moz-box-shadow: 11px 10px 14px -5px rgba(122,118,122,1);
    box-shadow: 11px 10px 14px -5px rgba(122,118,122,1);
}

.img_min img {
    height: auto;
    width: 200px;
}

.desc_min {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.desc_min h2 {
    text-transform: uppercase;
}

.desc_min p{
    font-size: 14px;
}

.desc_min a {
    display: block;
    background-color: rgb(217, 13, 60);
    color: white;
    border-radius: 5px;
    padding: 15px;
    width: 80px;
    text-decoration: none;
}

.desc_min a:hover {
    background-color: rgb(137, 12, 41);
    -webkit-box-shadow: 21px 19px 10px -10px rgba(0,0,0,0.48);
    -moz-box-shadow: 21px 19px 10px -10px rgba(0,0,0,0.48);
    box-shadow: 21px 19px 10px -10px rgba(0,0,0,0.48);
} 

.desc_min a:active {
    background-color: rgb(92, 9, 28);
}

.wrapper_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
     background-color: #c7c7c7;
    -webkit-box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);8,122,1);
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center; 
    height: 73px;
    background-color: rgba(65, 60, 60, 0.73);
    border-radius: 5px;
    -webkit-box-shadow: 11px 10px 14px -5px rgba(122,118,122,1);
    -moz-box-shadow: 11px 10px 14px -5px rgba(122,118,122,1);
    box-shadow: 11px 10px 14px -5px rgba(122,118,122,1);
}