@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
} 

.header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center; 
    height: 70px;
    border-bottom-right-radius: 15px;
    background-color: #100f0f

}

.header p {
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35pt;
    font-weight: 700;
    color: white;
}

.logo {
    text-decoration: none;
}

.life {
    color: rgb(217, 13, 60);
}

.header ul li {
    display: inline-block;
    padding: 18px;
}

.header ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.header ul li:hover {
    border-bottom: 3px solid white;
    padding: 15px 18px;
}


.header ul li a:hover {
    text-decoration: none;
    color: #6d6767;
}

main {
    display: flex;
    min-height: 85vh;
    background-color: #fcfafa;
    border-radius: 5px;
}

main p {
    padding: 15px;
    font-size: 1.3em;
    max-width: 80ch;
}

main hr {
    height: 3px;
    width: 400px;
    background-color: black;
    border: none;
}

.wrapper_minart {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;   
}

.article_min {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    height: 500px;
    width: 400px;
    margin: 30px;
    padding: 15px;
}

.article_min:hover {
    background-color: #f0e7e7;
    border-radius: 5px;
    transition: 1s;
    
}

.img_min img {
    height: auto;
    width: 200px;
}

.desc_min {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.desc_min h2 {
    text-transform: uppercase;
}

.desc_min p{
    font-size: 14px;
}

.desc_min a {
    display: block;
    background-color: rgb(217, 13, 60);
    color: white;
    border-radius: 5px;
    padding: 15px;
    width: 80px;
    text-decoration: none;
}

.desc_min a:hover {
    background-color: rgb(191, 13, 54);
} 


.desc_min a:active {
    background-color: rgb(147, 10, 41);
}

.wrapper_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
}

.wrapper_about h2 {
    padding: 15px;
    text-transform: uppercase;
    color: rgb(217, 13, 60);
    font-size: 32px;
    font-weight: 700;
}

.about_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center; 
    height: 73px;
    background-color: #100f0f;
    border-bottom-right-radius: 15px;
    color: white;
    -webkit-box-shadow: 11px 10px 14px -5px rgba(122,118,122,1);
    -moz-box-shadow: 11px 10px 14px -5px rgba(122,118,122,1);
    box-shadow: 11px 10px 14px -5px rgba(122,118,122,1);
}